<ion-header>
  <ion-toolbar>
    <ion-button (click)="backs()" slot="start" fill="clear">
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let fauna of faunas">
    <ion-item >
     <ion-card >
      <ion-card-header>
        <ion-card-subtitle>Fauna de {{title}}</ion-card-subtitle>
        <ion-card-title>{{fauna.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="{{fauna.img}}"/>
        
      </ion-card-content>
      <ion-item>
        <p>{{fauna.desc}}</p>
      </ion-item>

      <br>
      <div class="centrado" >
        <ion-button color="primary" (click)="locationFauna(fauna.position.lat,fauna.position.lng)" >
          <ion-icon name="pin"></ion-icon>
        </ion-button>
        <ion-button color="primary" >
         <ion-icon name="thumbs-up"></ion-icon>
        </ion-button>
      </div>
      <br>
     </ion-card>
    </ion-item>
   </div>
</ion-content>