<ion-header>
  <ion-toolbar >
    <ion-button (click)="back()" slot="start" fill="clear">
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title >Agregar un BioSitio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="container" *ngIf ="afAuth.user | async as user">
  
  <br>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="title" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="desc" placeholder="Escriba la descripcion del lugar..."></ion-textarea>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Imagen</ion-label>
      <ion-input type="text" [(ngModel)]="img" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Latitud</ion-label>
      <ion-input type="number" [(ngModel)]="lat" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Longitud</ion-label>
      <ion-input type="number" [(ngModel)]="lng" ></ion-input>
    </ion-item>
    <br>
   
    <ion-item>
      <ion-label>BioSitios</ion-label>
      <ion-select [(ngModel)]="type" placeholder="Seleccion un BioSitio">
        <ion-select-option value="BioParques">BioParque</ion-select-option>
        <ion-select-option value="BioRestaurantes">BioRestaurante</ion-select-option>
        <ion-select-option value="BioSenderos">BioSendero</ion-select-option>
      </ion-select>
    </ion-item>
 

    <ion-button (click)="OnSavePark(user.uid)" size="default" color="primary" mode="ios">Guardar</ion-button>
    <br>


  </div>
    <br>
</ion-content>