<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" *ngIf ="afAuth.user | async as user">

    <div *ngFor="let park of parks">
      <div *ngIf="park.type == folder">
        <ion-card >
          <ion-item>
            <ion-card-title slot="start">{{park.title}}</ion-card-title>
            <ion-button slot="end" fill="outline" (click)="presentActionSheet(park.id)">
              <ion-icon  ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-card-header>
            <ion-card-subtitle >BioSitio publicado {{park.user_id.name_user}} </ion-card-subtitle>            
          </ion-card-header>
          <ion-card-content>
            <ion-item><img src="{{ park.img }}"/></ion-item>
            <br>
             <p>{{park.desc}}</p>
          </ion-card-content>
          
          <br>
            <div class="centrado" >
                <ion-button (click)="locationPark(park.position.lat,park.position.lng)" color="primary" >
                  <ion-icon name="pin"></ion-icon>
                </ion-button>
                <ion-button (click)="OnFauna(park)" color="primary" >
                  <ion-icon name="paw"></ion-icon> 
                </ion-button>
                <ion-button (click)="OnFlora(park)" color="primary" >
                  <ion-icon name="rose"></ion-icon> 
                </ion-button>
                <ion-button (click)="OnLike()" color="primary" >
                  <ion-icon name="thumbs-up"></ion-icon> 
                </ion-button>
            </div>
          <br>
        </ion-card>
      </div>
    </div>
  </div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="OnCreatePark()"><ion-icon name="planet"></ion-icon ></ion-fab-button>
  </ion-fab-list>
</ion-fab>

</ion-content>
