<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div *ngFor="let park of parks">
 <ion-item *ngIf="park.type == folder">
  <ion-card >
   <ion-card-header>
     <ion-card-subtitle>{{ folder }}</ion-card-subtitle>
     <ion-card-title>{{ park.title }}</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <img src="{{ park.img }}"/>
   </ion-card-content>
   <div class="centrado">
      <ion-button (click)="locationPark(park.position.lat,park.position.lng)" color="primary" >
        <ion-icon name="pin"></ion-icon>
      </ion-button>

      <ion-button (click)="camara()" color="primary" >
        <ion-icon name="camera"></ion-icon> 
      </ion-button>
      <ion-button (click)="fauna(park.title,park.fauna.name,park.fauna.tipo,park.fauna.desc)" color="primary" >
        <ion-icon name="paw"></ion-icon> 
      </ion-button>
      <ion-button (click)="flora(park.title,park.flora.name,park.flora.tipo,park.flora.desc)" color="primary" >
        <ion-icon name="rose"></ion-icon> 
      </ion-button>
    </div>
  </ion-card>
 </ion-item>
</div>
</ion-content>
