<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" *ngIf ="afAuth.user | async as user">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="OnCreatePark()"><ion-icon name="add"></ion-icon ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  

<div *ngFor="let park of parks">
 <ion-item *ngIf="park.type == folder">
  <ion-card >
   <ion-card-header>
     <ion-card-subtitle >BioSitio Posteado por {{park.uid}}</ion-card-subtitle>
     <ion-card-title>{{ park.title }}</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <img src="{{ park.img }}"/>
   </ion-card-content>
   <div class="centrado">
      <ion-button (click)="locationPark(park.position.lat,park.position.lng)" color="primary" >
        <ion-icon name="pin"></ion-icon>
      </ion-button>

      <ion-button (click)="camara()" color="primary" >
        <ion-icon name="camera"></ion-icon> 
      </ion-button>
      <ion-button (click)="OnFauna(park)" color="primary" >
        <ion-icon name="paw"></ion-icon> 
      </ion-button>
      <ion-button (click)="OnFlora(park)" color="primary" >
        <ion-icon name="rose"></ion-icon> 
      </ion-button>
    </div>
  </ion-card>
 </ion-item>
</div>
</div>
</ion-content>
