<ion-header>
  <ion-toolbar color="success" >
    <ion-button (click)="back()" slot="start" fill="clear">
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title >Agregar un Fauna o Flora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="container" *ngIf ="afAuth.user | async as user">
  <br>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="desc" placeholder="Escriba la descripción de la Fauna o Flora que haya encontrado..."></ion-textarea>
    </ion-item>
    <br>
    <ion-item *ngIf="isUploadStart">
      <ion-spinner name="bubbles" *ngIf="Progress" ></ion-spinner>
      <ion-input type="hidden" [(ngModel)]="img" [value]="imgUrl | async" ></ion-input>
      <img src="" id="image" class="croppedImage">
    </ion-item>
    <br>
    <ion-item>
      <ion-label>
        Agregar Imagen al BioSitio
      </ion-label>
      <ion-button (click)="OnChooseImage()" expand="block" size="default" color="success" slot="end" mode="ios"><ion-icon  name="camera"></ion-icon></ion-button>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>
        Agregar Ubicación al BioSitio
      </ion-label>
      <ion-button (click)="geoloca()" expand="block" size="default" color="success" slot="end" mode="ios"><ion-icon  name="pin"></ion-icon></ion-button>
    </ion-item>
    <br>
       
    <ion-item>
      <ion-label>Hago parte de..</ion-label>
      <ion-select [(ngModel)]="type_f" placeholder="Selecciona un tipo">
        <ion-select-option value="Fauna">Fauna</ion-select-option>
        <ion-select-option value="Flora">Flora</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
   
    
    <div class="centrado">
      <ion-button (click)="OnSaveFandF(user.uid)" size="default" color="success" mode="ios">Guardar</ion-button>
      <ion-button (click)="OnCancel()" size="default" color="danger" mode="ios">Cancelar</ion-button>

    </div>
   
    
    <br>


  </div>
    <br>
</ion-content>