<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis BioSitios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" *ngIf ="afAuth.user | async as user">

    <div *ngFor="let park of mypark">
      <div *ngIf="park.user_id.uid == user.uid ">
        <ion-card>
          <ion-button slot="end" fill="outline" (click)="presentActionSheet(park.id)" color="secondary">
            <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical" color="secondary"></ion-icon>
          </ion-button>
          <br>
          <img src="{{park.img}}" />
          <ion-card-header>
            <ion-card-subtitle>BioSitio publicado por {{park.user_id.name_user}}</ion-card-subtitle>
            <ion-card-title>{{park.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{park.desc}}
          </ion-card-content>
          <ion-input type="hidden" [(ngModel)]="parkidlike" [value]="park.id"></ion-input>
          <div class="centrado">
            <ion-button (click)="locationPark(park.position.lat,park.position.lng)" color="secondary">
              <ion-icon name="pin"></ion-icon>
            </ion-button>
            <ion-button (click)="OnFauna(park)" color="secondary">
              <ion-icon name="paw"></ion-icon>
            </ion-button>
            <ion-button (click)="OnFlora(park)" color="secondary">
              <ion-icon name="rose"></ion-icon>
            </ion-button>
            <ion-button (click)="OnLike(park,liked)" color="secondary">
              <ion-icon name="thumbs-up"> </ion-icon>
              <span> {{park.reactions.length}} </span>
            </ion-button>
            <ion-button (click)="presentActionSheet(park.id)" color="secondary">
              <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </div>
          <br>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
