<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="container">
   <br>
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <br>

    <div class="centrado">
      <ion-button (click)="loginGoogle()"  size="default" color="danger" mode="ios"><ion-icon name="logo-google"></ion-icon></ion-button>
    
      <ion-button (click)="OnLogin()" size="default" color="primary" mode="ios">Iniciar Sesión</ion-button>
      <p>Eres nuevo ? <a href="/register">Registrate!</a></p>
    </div>
 </div>
</ion-content>
